body {
  background: white;
}

header, main, footer {
  min-width: 855px;
}

header .container, main .container, footer .container {
  max-width: 855px;
  margin: auto;
}

header {
  background: lightgray;
  overflow: auto;
}

h1 {
  margin: 10px;
}
.amaze {
  float: left;
  width: 40%;
  margin-right: 0;
}
header nav {
  float: right;
  padding: 20px;
 
}

main {  
  overflow: auto;
}

main .left {
  float: left;
  width: 570px;
}

main .right {
  float: right;
  width: 285px;
}

footer .left {
  float: left;
  width: 570px;
}

footer .sitemap {
  font-size: 100%;
  float: right;
  width: 285px;
}

footer .contact {
  font-size: 100%;
  float: left;
  width: 285px;
  margin-left: 2%;
}

main strong {
  color: blue;
  font-size: 125%;
}

.faqmain {
   background-color: #E6E4C1;
   padding-bottom: 20px;
   border-radius: 5px;
   box-shadow: 1px 1px rgba(125, 125, 125, 0.5);
   
}

.signupdiv {
   text-align: center;
   background-color: #E6E4C1;
   padding-bottom: 20px;
   border-radius: 5px;
   margin-right: 20%;
   margin-left: 18%;
   margin-bottom: 1%;
   box-shadow:  1px 1px rgba(125, 125, 125, 0.5);
    
}

label {
   display: inline-block;
   width: 125px;
   padding: 0.4%;
}
input {
   display: inline-block;
}

.formbuttons{
   margin-top: 2%;
   background-color: steelblue;
   border-radius:12px;
   border:1px solid #18ab29;
   display:inline-block;
   cursor:pointer;
   color:#ffffff;
   font-family:Arial;
   font-size:15px;
   padding:4px 9px;
   text-decoration:none;
   text-shadow: 1px #2f6627;
   
}

h2 {
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   color: maroon;
   text-align: center;
   font-size: 200%;
   font-weight: bold;
    
}

footer {
   background: lightgray;
   overflow: auto;
}